doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title homework
    link(rel="stylesheet", href=`./css/style.css`)
    link(rel="stylesheet", href=`./css/index.css`)

  body
    -
      const contentData3 = [
                {
          page: 'tab1',
          target: 'content1',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
        {
          page: 'tab2',
          target: 'content2',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
        {
          page: 'tab3',
          target: 'content3',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
      ]
      const contentData = [
        {
          page: 'tab1',
          target: 'content1',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
        {
          page: 'tab2',
          target: 'content2',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
        {
          page: 'tab3',
          target: 'content3',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
        {
          page: 'tab4',
          target: 'content4',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
        {
          page: 'tab5',
          target: 'content5',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
        {
          page: 'tab6',
          target: 'content6',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
      ]
    main
      nav.navbar
        .container
          img(src="./assets/img/logo.webp")
          ul.menu
            li
              a.lightbox-btn(href="javascript:;" ) 燈箱
            li
              a(href="javascript:;" data-anchor-target=".section1" data-anchor-gap='50') 錨點
            li
              a(href="javascript:;" data-anchor-target=".section2" data-anchor-gap='50') 錨點
            li
              a(href="javascript:;" data-anchor-target=".section3" data-anchor-gap='50') 錨點
          .pic-box 
            .photo(data-upload-item="")
                input.btn(type="file" title="")
                .preview(data-preview="")
                  img(src="./assets/img/C01.png", alt="")
      // 類別
      section.section1
        .container
          h3 類別拖拉
          .category
            .category-slider
              .wrapper
                .item.active
                  a(href="javascript:;") 類別按鈕 1
                .item
                  a(href="javascript:;") 類別按鈕 2
                .item
                  a(href="javascript:;") 類別按鈕 3
                .item
                  a(href="javascript:;") 類別按鈕 4
                .item
                  a(href="javascript:;") 類別按鈕 5
                .item
                  a(href="javascript:;") 類別按鈕 6
                .item
                  a(href="javascript:;") 類別按鈕 7
                .item
                  a(href="javascript:;") 類別按鈕 8
                .item
                  a(href="javascript:;") 類別按鈕 9
                .item
                  a(href="javascript:;") 類別按鈕 10
                .item
                  a(href="javascript:;") 類別按鈕 11
                .item
                  a(href="javascript:;") 類別按鈕 12
                .item
                  a(href="javascript:;") 類別按鈕 13

      section.section2
        .container
          h3 下拉選單
          .dropdown-wrap
            dropdown-el.dropdown1(d4-placeholder="下拉選單1" control-elements=".dropdown2" multiple)
              li(data-option="customID") option1
              li option2
              li option3
              li option4
              li option5
              li option6
              li option7
            dropdown-el.dropdown2.disabled(d4-placeholder="請先選擇下拉選單1" d4-value="下拉選單2")
              li 下拉選單2
              li option1
              li option2
              li option3
              li option4
              li option5
              li option6
              li option7

      section.section3
        .container
          h3 影片
          .video-wrap
            .item
              .photo-box(video-target video-id="akjnhyamjnY" video-mode="onPage" video-type="youtube")
                img(alt="" src="")
            .item
              .photo-box(video-target video-id="XNTkxMjA3MjQ0NA" video-autoplay='on' video-player-type="onBox" video-type="youku")
                img(alt="" src="./assets/img/D1.jpg")
            .item
              .photo-box(video-target video-id="754478851" video-autoplay='on' video-player-type="onBox" video-type="vimeo" video-button='.video-btn')
                img(alt="" src="./assets/img/D2.png")
                .video-btn

      section.section4 
        .container
          .wrap
            h3 流程
            .content 
              tab-el(t4-name='s4_tab' t4-type='process')
                for data in contentData
                  .tab-panel(t4-role="tabPanel") 
                    h2=data.target
                    p=data.content

              .step
                p 現在是 step
                  span.step-show(t4-control='s4_tab') 
              .btn
                .item(t4-role="prev" t4-control='s4_tab') 
                  svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                    path(stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5")
                .item(t4-role="next" t4-control='s4_tab')
                  svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                    path(stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5")
          .wrap
            h3 流程
            .content 
              tab-el(t4-name='s4_tab_a' t4-type='process' t4-defaultPage='2')
                for data in contentData
                  .tab-panel(t4-role="tabPanel") 
                    h2=data.target
                    p=data.content

              .step
                p 現在是 step
                  span.step-show(t4-control='s4_tab_a') 
          .wrap
            h3 流程
            .content.swiper 
              tab-el(t4-name='s4_tab_b' t4-type='process' t4-url='true' t4-display='swiper')
                for data in contentData
                  .tab-panel(t4-role="tabPanel") 
                    h2=data.target
                    p=data.content
              .btn
                .item(t4-role="prev" t4-control='s4_tab_b') 
                  svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                    path(stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5")
                .item(t4-role="next" t4-control='s4_tab_b')
                  svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                    path(stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5")
      section.section5 
        .container
          h3 頁籤
          .tab-title
            .item(t4-control='s5_tab' t4-role="tab") Tab 1
            .item(t4-control='s5_tab' t4-role="tab") Tab 2
            .item(t4-control='s5_tab' t4-role="tab") Tab 3
            .item(t4-control='s5_tab' t4-role="tab") Tab 4
            .item(t4-control='s5_tab' t4-role="tab") Tab 5
            .item(t4-control='s5_tab' t4-role="tab") Tab 6
          .btn
            .item(t4-control='s5_tab' t4-role="prev") 
              svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                path(stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5")
            .item(t4-control='s5_tab' t4-role="next")
              svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                path(stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5")
          tab-el(t4-name='s5_tab' t4-display='swiper')
            for data in contentData
              .tab-panel(t4-role="tabPanel") 
                h2=data.target
                p=data.content
      section.sectionTest 
        .container
          h3 頁籤
          .tab-title
            .item(t4-control='s5_tab_b' t4-role="tab" t4-id='content1') Tab 1
            .item(t4-control='s5_tab_b' t4-role="tab" t4-id='content3') Tab 3
            .item(t4-control='s5_tab_b' t4-role="tab" t4-id='content4') Tab 4
            .item(t4-control='s5_tab_b' t4-role="tab" t4-id='content2') Tab 2
            .item(t4-control='s5_tab_b' t4-role="tab" t4-id='content5') Tab 5
            .item(t4-control='s5_tab_b' t4-role="tab" t4-id='content6') Tab 6
            .item(t4-control='s5_tab_b' t4-role="tab" t4-id='content5') Tab 5
            .item(t4-control='s5_tab_b' t4-role="tab" t4-id='content6') Tab 6
            .item(t4-control='s5_tab_b' t4-role="tab" t4-id='content2') Tab 2
            .item(t4-control='s5_tab_b' t4-role="tab" t4-id='content3') Tab 3
          .btn
            .item(t4-control='s5_tab_b' t4-role="prev") 
              svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                path(stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5")
            .item(t4-control='s5_tab_b' t4-role="next")
              svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                path(stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5")
          tab-el(t4-name='s5_tab_b' t4-group="false" t4-defaultPage='content3' t4-url='true')
            for data,index in contentData
              .tab-panel(t4-role="tabPanel" t4-id=data.target) 
                h2=data.target
                p=data.content
      section.section7 
        .container
          h3 多層頁籤
          .tab-title
            .item(t4-control='s7_tab' t4-role="tab" t4-id='content1') Tab 1
            .item(t4-control='s7_tab' t4-role="tab" t4-id='content2') Tab 2
            .item(t4-control='s7_tab' t4-role="tab" t4-id='content3') Tab 3
          tab-el(t4-name='s7_tab' t4-defaultPage='content2' t4-group="false")
            for data , index in contentData3
              .tab-panel(t4-role="tabPanel" t4-id=`content${index+1}`) 
                .content
                  h2=`content${index+1}`
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint. 
                  .tab-title
                    .item(t4-control=`s7_tab_${index+1}` t4-role="tab" t4-id='content1') Tab 1
                    .item(t4-control=`s7_tab_${index+1}` t4-role="tab" t4-id='content2') Tab 2
                    .item(t4-control=`s7_tab_${index+1}` t4-role="tab" t4-id='content3') Tab 3
                  tab-el(t4-name=`s7_tab_${index+1}` t4-group="false" t4-defaultPage='content2')
                    for data , index in contentData3
                      .tab-panel(t4-role="tabPanel" t4-id=`content${index+1}`) 
                        .content
                          h2=`content${index+1}`
                          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint. 
      section.section6 
        .container
          h3 錨點功能
          .tab-title
            .item(t4-control='s6_tab' t4-role="tab") Tab 1
            .item(t4-control='s6_tab' t4-role="tab") Tab 2
            .item(t4-control='s6_tab' t4-role="tab") Tab 3
            .item(t4-control='s6_tab' t4-role="tab") Tab 4
            .item(t4-control='s6_tab' t4-role="tab") Tab 5
            .item(t4-control='s6_tab' t4-role="tab") Tab 6
          tab-el(t4-name='s6_tab' t4-defaultPage='1' t4-anchor='true')
            for data in contentData
              .tab-panel(t4-role="tabPanel") 
                .content 
                  h2=data.target
                  p=data.content

    // 共用 JS
    script(defer src="./js/static/jquery-3.6.0.min.js")
    // 個別頁面引用 JS
    block script
      script(defer src="./js/static/fesdDB.js")
      script(defer src="./js/global.min.js")
      script(defer src="./js/common.min.js")
      script(defer src=`./js/main.min.js`)