doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title homework
    link(rel="stylesheet", href=`./css/style.css`)
    link(rel="stylesheet", href=`./css/index.css`)

  body
    -
      const contentData = [
        {
          state:'active',
          page: '1',
          target: 'button1',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
        {
          page: '2',
          target: 'button2',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
        {
          page: '3',
          target: 'button3',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
        {
          page: '4',
          target: 'button4',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
        {
          page: '5',
          target: 'button5',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
        {
          page: '6',
          target: 'button6',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam accusamus esse id, repudiandae iste adipisci commodi? Nesciunt, veniam sunt voluptas eos dignissimos corporis, itaque omnis beatae ad cum fuga sint.',
        },
      ]
    main
      nav.navbar
        .container
          img(src="./assets/img/logo.webp")
          ul.menu
            li
              a.lightbox-btn(href="javascript:;" ) 燈箱
            li
              a(href="javascript:;" data-anchor-target=".section1" data-anchor-gap='50') 錨點
            li
              a(href="javascript:;" data-anchor-target=".section2" data-anchor-gap='50') 錨點
            li
              a(href="javascript:;" data-anchor-target=".section3" data-anchor-gap='50') 錨點
          .pic-box 
            .photo(data-upload-item="")
                input.btn(type="file" title="")
                .preview(data-preview="")
                  img(src="./assets/img/C01.png", alt="")
      // 類別
      section.section1
        .container
          h3 類別拖拉
          .category
            .category-slider
              .wrapper
                .item.active
                  a(href="javascript:;") 類別按鈕 1
                .item
                  a(href="javascript:;") 類別按鈕 2
                .item
                  a(href="javascript:;") 類別按鈕 3
                .item
                  a(href="javascript:;") 類別按鈕 4
                .item
                  a(href="javascript:;") 類別按鈕 5
                .item
                  a(href="javascript:;") 類別按鈕 6
                .item
                  a(href="javascript:;") 類別按鈕 7
                .item
                  a(href="javascript:;") 類別按鈕 8
                .item
                  a(href="javascript:;") 類別按鈕 9
                .item
                  a(href="javascript:;") 類別按鈕 10
                .item
                  a(href="javascript:;") 類別按鈕 11
                .item
                  a(href="javascript:;") 類別按鈕 12
                .item
                  a(href="javascript:;") 類別按鈕 13

      section.section2
        .container
          h3 下拉選單
          .dropdown-wrap
            dropdown-el.dropdown1(d4-placeholder="下拉選單1" control-elements=".dropdown2" multiple)
              li(data-option="customID") option1
              li option2
              li option3
              li option4
              li option5
              li option6
              li option7
            dropdown-el.dropdown2.disabled(d4-placeholder="請先選擇下拉選單1" d4-value="下拉選單2")
              li 下拉選單2
              li option1
              li option2
              li option3
              li option4
              li option5
              li option6
              li option7

      section.section3
        .container
          h3 影片
          .video-wrap
            .item
              .photo-box(video-target video-id="akjnhyamjnY" video-mode="onPage" video-type="youtube")
                img(alt="" src="")
            .item
              .photo-box(video-target video-id="XNTkxMjA3MjQ0NA" video-autoplay='on' video-player-type="onBox" video-type="youku")
                img(alt="" src="./assets/img/D1.jpg")
            .item
              .photo-box(video-target video-id="754478851" video-autoplay='on' video-player-type="onBox" video-type="vimeo" video-button='.video-btn')
                img(alt="" src="./assets/img/D2.png")
                .video-btn
    
      section.section4 
        .container
          h3 流程
          //- .btn
          //-   .item(t4-role="btn_prev") 
          //-     svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
          //-       path(stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5")
          //-   .item(t4-role="btn_next")
          //-     svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
          //-       path(stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5")
          //- tab-el(t4-defaultPage='0')
          //-   .tab-panel(t4-role="tabPanel") 
          //-     h2 Content 1
          //-     p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, quo tempora minus fugit doloribus cumque ipsam sunt iusto expedita! Incidunt inventore non laudantium odit perferendis fugit reprehenderit? Expedita, magnam enim.
          //-   .tab-panel(t4-role="tabPanel" hidden) 
          //-     h2 Content 2
          //-     p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, quo tempora minus fugit doloribus cumque ipsam sunt iusto expedita! Incidunt inventore non laudantium odit perferendis fugit reprehenderit? Expedita, magnam enim.
          //-   .tab-panel(t4-role="tabPanel" hidden) 
          //-     h2 Content 3
          //-     p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, quo tempora minus fugit doloribus cumque ipsam sunt iusto expedita! Incidunt inventore non laudantium odit perferendis fugit reprehenderit? Expedita, magnam enim.
      section.section5 
        .container
          h3 頁籤
          //- type='process' / basic 
          //- display='slide' / fade
          //- defaultPage='page'
          // 第一版
          //- .tab-box(data-change-parent display='fade') 
          //-   .tab-title
          //-     .item.active(data-change-id='1')
          //-       span button1
          //-     .item(data-change-id='2')
          //-       span button2
          //-     .item(data-change-id='3')
          //-       span button3
          //-     .item(data-change-id='4')
          //-       span button4
          //-     .item(data-change-id='5')
          //-       span button5
          //-     .item(data-change-id='6')
          //-       span button6
          //-   .tab-content-box
          //-     each data in contentData
          //-       if(data.state != 'active')
          //-         .tab-content(data-change-page=data.page)
          //-           h2=data.target
          //-           p=data.content
          //-       else 
          //-         .tab-content.active(data-change-page=data.page)
          //-           h2=data.target
          //-           p=data.content
          // 第二版
          //- .tab-box
          //-   .tab-title
          //-     .item.active(data-change-id='1' tab4-target="my-tab4")
          //-       span button1
          //-     .item(data-change-id='2' tab4-target="my-tab4" )
          //-       span button2
          //-     .item(data-change-id='3' tab4-target="my-tab4" )
          //-       span button3
          //-     .item(data-change-id='4' tab4-target="my-tab4" )
          //-       span button4
          //-     .item(data-change-id='5' tab4-target="my-tab4" )
          //-       span button5
          //-     .item(data-change-id='6' tab4-target="my-tab4" )
          //-       span button6

          //-   // webComponent 
          //-   //- tab-el(data-change-parent)
          //-   tab-el(data-change-parent t4-type='basic' t4-display='slide' t4-defaultPage='7')
          //-     each data in contentData
          //-       if(data.state != 'active')
          //-         .tab-pane(data-change-page=data.page)
          //-           h2=data.target
          //-           p=data.content
          //-       else 
          //-         .tab-pane.active(data-change-page=data.page)
          //-           h2=data.target
          //-           p=data.content
            //- .tab-pane()
            //- .tab-pane()
            //- .tab-pane()
            //- .tab-pane()
            //- .tab-pane()    
          // 第三版
          .tab-title(t4-control='s5_tab')
            .item(t4-role="tab") Tab 1
            .item(t4-role="tab") Tab 2
            .item(t4-role="tab") Tab 3
          .btn
            .item(t4-control='s5_tab' t4-role="btn_prev") 
              svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                path(stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5")
            .item(t4-control='s5_tab' t4-role="btn_next")
              svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                path(stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5")
          tab-el(t4-name='s5_tab' t4-defaultPage='1')
            .tab-panel(t4-role="tabPanel") 
              h2 Content 1
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, quo tempora minus fugit doloribus cumque ipsam sunt iusto expedita! Incidunt inventore non laudantium odit perferendis fugit reprehenderit? Expedita, magnam enim.
            .tab-panel(t4-role="tabPanel") 
              h2 Content 2
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, quo tempora minus fugit doloribus cumque ipsam sunt iusto expedita! Incidunt inventore non laudantium odit perferendis fugit reprehenderit? Expedita, magnam enim.
            .tab-panel(t4-role="tabPanel") 
              h2 Content 3
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, quo tempora minus fugit doloribus cumque ipsam sunt iusto expedita! Incidunt inventore non laudantium odit perferendis fugit reprehenderit? Expedita, magnam enim.
    // 共用 JS
    script(defer src="./js/static/jquery-3.6.0.min.js")
    // 個別頁面引用 JS
    block script
      script(defer src="./js/static/fesdDB.js")
      script(defer src="./js/global.min.js")
      script(defer src="./js/common.min.js")
      script(defer src=`./js/main.min.js`)